
<ion-view view-title="Restaurant App / Sign In">

  <ion-content>
<div>
    <label class="item item-input">
      <input type="email" placeholder="Email Address">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password">
    </label>

    <button class="button button-full button-positive">
      Login
    </button>
</div>
    <br>
    <br>
    <br>
    <br>

  <div class="button-bar">
    <a class="button button-outline  button-positive" ng-click="onClick()" > Login With FaceBook</a>
    <a class="button button-outline  button-assertive"> Login With Gmail</a>

  </div>







  </ion-content>



</ion-view>

